@model AztecAppleDepApp.Models.DepTransactionDetailViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DEP Transaction Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Order Type:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrderEf.OrderType)
        </dd>
        <dt>
            Order Status:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrderEf.Note)
        </dd>
        <dt>
            Deliver Status:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeliveryEf.Note)
        </dd>
        <dt>
            Devices
        </dt>
        <dd>
                @for (int i = 0; i < Model.DeviceEfs.Count; i++)
                {
                    @Html.DisplayFor(x => x.DeviceEfs[i].IsSelected)
                    @Html.DisplayFor(x => x.DeviceEfs[i].DeviceId)
                    @: - 
                    @Html.DisplayFor(x => x.DeviceEfs[i].Note)
                    <br />
                }
        </dd>

    </dl>
</div>


