@model AztecAppleDepApp.Models.TransactionSearchViewModel
@{
    ViewBag.Title = "Search";
}

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h2>Search</h2>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-primary" role="alert">
                <strong>Enter Serial # or Order #:</strong>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
           @* @using (Ajax.BeginForm("SearchSerial", "Search", new AjaxOptions { LoadingElementId = "ajax-loader", UpdateTargetId = "Results", InsertionMode = InsertionMode.Replace, }, new { id = "form" })) ;*@
            <form id="form" asp-action="SearchSerial" asp-controller="Search" data-ajax-loading="ajax-loader" data-ajax-update="Results" data-ajax-mode="replace"></form>
            @Html.AntiForgeryToken()


            <div class="form-group">
                <strong>@Html.LabelFor(model => model.TransactionNumber, "Transaction Number", new { @class = "control-label" })</strong>
                @Html.TextBoxFor(model => model.TransactionNumber, null, new { @class = "form-control", placeholder = "Transaction Number" })
                <p>@Html.ValidationMessageFor(model => model.TransactionNumber, "", new { @class = "text-danger" })</p>
            </div>
            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-aztecs" id="SubmitBtn" />
            </div>
        </div>
        <div class="col-md-3">
@*            @using (Ajax.BeginForm("SearchOrder", "Search", new AjaxOptions { LoadingElementId = "ajax-loader", UpdateTargetId = "Results", InsertionMode = InsertionMode.Replace, }, new { id = "form" }))*@
        <form id="form" asp-action="SearchOrder" asp-controller="Search" data-ajax-loading="ajax-loader" data-ajax-update="Results" data-ajax-mode="replace"></form>
            @Html.AntiForgeryToken()

            <div class="form-group">
                <strong>@Html.LabelFor(model => model.TransactionNumber, "Transaction Number", new { @class = "control-label" })</strong>
                @Html.TextBoxFor(model => model.TransactionNumber, null, new { @class = "form-control", placeholder = "Transaction Number" })
                <p>@Html.ValidationMessageFor(model => model.TransactionNumber, "", new { @class = "text-danger" })</p>
            </div>
            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-aztecs" id="SubmitBtn" />
            </div>
        </div>
        </div>
        @*<div class="row">
                <form action="/Search/SearchSerial" method="post">
                    @Html.AntiForgeryToken()
                    <input type="text" name="Id" class="form-control" />
                    <input type="submit" value="Search Serial #" class="btn btn-aztecs" />
                </form>
            </div>
            <br />
            <div class="row">
                <form action="/Search/SearchOrder" method="post">
                    @Html.AntiForgeryToken()
                    <input type="text" name="Id" class="form-control" />
                    <input type="submit" value="Search Order #" class="btn btn-aztecs" />
                </form>
            </div>*@
    </main>
